{% extends 'layouts/main.html' %}
{% block title %}About{% endblock %}
{% block color %}{{ color_code }}{% endblock %}
{% block content %}
<br><br>
<body class="stackedit">
  <div class="stackedit__html"><h1 id="simple-kanban-app">Simple Kanban App</h1>
      <br><br>
<p><strong>Kanban</strong> is a simple task-scheduling methodology formulated by Taiichi Ohno from Toyota, Japan. It entails partitioning a board into lists, and each list is populated with it’s appropriate tasks.</p>
<p>This repository is my work in creating a simple and functional Kanban application. It is my final project submission for the MAD-I project, a part of IITM’s online Programming diploma.</p>
<br><h2 id="technologies-used">Technologies used</h2><br>
<ul>
<li><strong>HTML, CSS, Javascript, Bootstrap, jinja2</strong> - Client-side presentation tools
<ul>
<li><strong>Popper.js</strong>, <strong>jQuery.js</strong>, <strong>Chart.js</strong></li>
</ul><br>
</li>
<li><strong>Python, Flask</strong> - Back-end processing and web routing
<ul>
<li><strong>Flask SQLAlchemy</strong> - Database management module</li>
<li><strong>Flask-Login, Hashlib</strong> - Frameworks to facilitate login processes</li>
<li><strong>Flask-WTF, WTForms</strong> - Form declaration and input handling</li>
<li><strong>Flask-RESTful</strong> - API declaration, routing and handling</li>
<li><strong>Pandas, io.BytesIO</strong> - To generate excel spreadsheet of data on the fly for further analysis</li>
</ul>
</li>
</ul><br>
<h2 id="db-schema-design">DB Schema Design</h2><br><br>
<p><img src="https://i.ibb.co/pZSLpvP/dbschema-light.png" alt="DB Schema"></p><br>
<h2 id="api-design">API Design</h2><br>
<p>Implemented using <strong>Flask-RESTful</strong>. A total of 5 resource classes were used. The following table describes the endpoints:</p>

<table>
<thead>
<tr>
<th>Endpoint</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr>
<td><strong>/api/login</strong></td>
<td>Login user using <strong>post</strong> request</td>
</tr>
<tr>
<td><strong>/api/logout</strong></td>
<td>Logout user using <strong>get</strong> request</td>
</tr>
<tr>
<td><strong>/api/list</strong></td>
<td><strong>CRUD</strong> operations on lists</td>
</tr>
<tr>
<td><strong>/api/task/{list_id}</strong></td>
<td><strong>CRUD</strong> operations on tasks</td>
</tr>
<tr>
<td><strong>/api/stats</strong></td>
<td><strong>get</strong> descriptive stats on tasks of current user’s lists</td>
</tr>
</tbody>
</table><br><h2 id="architectures-and-features">Architectures and features</h2><br>
<pre><code>|───static
│   ├───ico / App icons
│   └───wallpapers / Wallpapers used in forms
├───templates / Jinja 2 Templates
│   ├───errors
│   ├───forms
│   ├───layouts
│   └───pages
</code></pre>
<p><strong>Python scripts</strong>:</p>
<ul>
<li><strong>Main</strong> scripts:
<ul>
<li><strong>app.py</strong> - App, Database initialization and app instantiation</li>
<li><strong>config.py</strong> - Definitions of the Flask application’s global variables</li>
</ul>
</li>
<li><strong>Website</strong> components:
<ul>
<li><strong>api.py</strong> - API Resource definitions</li>
<li><strong>controllers.py</strong> - Controllers and error handlers</li>
<li><strong>forms.py</strong> - Form Class definitions and input validators</li>
</ul>
</li>
<li><strong>models.py</strong> - SQLite database structure definitions</li>
<li><strong>password.py</strong> - MD5 Hashing solution for login framework
<ul>
<li>Checks user input against hash generated by md5(concatenate(user, password)).</li>
</ul>
</li>
</ul>
<p><strong>Additional Features</strong>:</p>
<ul>
<li><strong>Popper.js</strong> used to generate useful tooltips on mouse hover</li>
<li><strong>jQuery.js</strong> scripts dynamically generated using <strong>jinja2</strong> to do the following:
<ul>
<li>Makes a “delete-modal” visible on click to confirm deletion</li>
<li>In case of validation error on user input, HTML elements are edited to show error message originating from flask app</li>
<li>Background color change triggered on a button click</li>
</ul>
</li>
<li><strong>Chart.js</strong> scripts also generated using <strong>jinja2</strong>. Used to create interactive bar and doughnut charts.</li>
</ul>
</div>
</body>
{% endblock %}
