{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block content %}

{% if current_user.is_authenticated %}
<br><br>
    <div class="page-header">
      <h1>Welcome, {{ current_user.username }}.</h1><br>
    </div>
    {% if current_user.lists %}
        <div class="card-deck">
        {% for list in current_user.lists %}
            <div class="card bg-light mb-3", style="max-width: 20rem;">
                <div class="card-body">
                  <h5 class="card-title", align='center'>
                      <div class="dropdown">
                          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              {{ list.name }}
                          </button>
                          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dropdownMenuButton">
                              <li><a class="dropdown-item" href="/update/list/{{ list.id }}">Update</a></li>
                              <li class="dropdown-submenu">
                                  <a class="dropdown-item" tabindex="-1" href="#">
                                    Delete List
                                  </a>
                                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" data-toggle="modal" data-target="#deleteModal" data-action="/delete/list/{{ list.id }}" data-message="Are you sure you want to delete {{ list.name }} and all the tasks associated with it?" href="#">Delete all tasks</a></li>
                                    <li>
                                    </li>
                                    <li class="dropdown-submenu">
                                      <a class="dropdown-item" tabindex="-1" href="#">
                                          Move tasks to
                                      </a>
                                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        {% for xlist in current_user.lists %}{% if xlist.id != list.id %}
                                        <li><a class="dropdown-item" data-toggle="modal" data-target="#deleteModal" data-action="/delete/list/{{ list.id }}/{{ xlist.id }}" data-message="Are you sure you want to delete {{ list.name }} and re-allocate all tasks to {{ xlist.name }}?" href="#">{{ xlist.name }}</a></li>
                                        {% endif %}{% endfor %}
                                      </ul>
                                  </ul>
                              </li>

                          </ul>
                      </div>
                  </h5>
                  <div class="card-text">
                      {% if list.tasks %}
                          {% for task in list.tasks %}
                              <div class="card text-white bg-{{ 'success' if task.status else 'warning' }} mb-3" style="max-width: 18rem;">
                                  <div class="card-header">
                                      <div class="dropdown">
                                          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                              {{ task.title }}
                                          </button>
                                          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                              <a class="dropdown-item" href="/update/task/{{ list.id }}/{{ task.title }}">Update</a>
                                              <a class="dropdown-item" href="/delete/task/{{ list.id }}/{{ task.title }}">Delete</a>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="card-title">Status: {{ task.status }}</h5>
                                    <p class="card-text">Content: {{ task.content }}</p>
                                  </div>
                              </div>
                          {% endfor %}
                      {% endif %}
                  </div>
                  <div class="card-text", align='center'>
                      <button type="button" class="btn btn-primary btn-circle btn-md" onclick="location.href='/add/task/{{ list.id }}'"><h3>+</h3></button>
                  </div>
                </div>
                <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="List Description" align=center><small class="text-muted">{{ list.description }}</small></p>
            </div>
        {% endfor %}
        {% if current_user.lists|length < 5 %}
            <div class="card border-light mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <br><br><br>
                  <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='{{ url_for('add_list') }}'">Add List</button>
                </div>
            </div>
        {% endif %}
        </div>

    {% else %}
        <p>You have no lists.</p>
        <div class="card border-light mb-3" style="max-width: 20rem;">
            <div class="card-body">
              <button type="button" class="btn btn-primary btn-circle btn-xl" onclick="location.href='{{ url_for('add_list') }}'">Add List</button>
            </div>
        </div>
    {% endif %}
{% else %}
<div class="page-header">
  <h1>Welcome to the Kanban App</h1>
</div>
<h4>Please <a href="{{url_for('login')}}">login</a> to get started.</h4>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLongTitle">Delete Confirmation</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Are you sure you want to delete?
  </div>
  <div class="modal-footer">
    <button type="button" onclick="#" class="confirmButton btn btn-primary">Yes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
  </div>
</div>
</div>
</div>

<script type="text/javascript">
    $('#deleteModal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget) // Button that triggered the modal
      var action = button.data('action')
      var message = button.data('message')

      var modal = $(this)
      modal.find('.modal-body').text(message)
      modal.find('.confirmButton').attr('onclick', "location.href ='"+action+"'")
    })
</script>

{% endblock %}
