{% extends 'layouts/main.html' %}
{% block title %}Home{% endblock %}
{% block color %}{{ color_code }}{% endblock %}
{% block content %}


<br><br>
<div class="page-header">
  <h1 style="font-family: 'Poppins', sans-serif;">Summary for <b>{{ current_user.username }}</b>. <button class="btn btn-success btn-circle btn-sm" onclick="location.href='/stats/user'"></button></h1><br>
</div>
{% if current_user.lists %}
    <div class="card-deck">
    {% for list in current_user.lists %}
        <div class="card mb-3 bg-custom-{{ 5 - current_user.lists.index(list) }}" style="max-width: 20rem;">
            <div class="card-body" align="center">
              <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="Download data for {{list.name}}" align=center>
                  <button class="btn btn-success btn-circle btn-sm" onclick="location.href='/stats/list/{{list.id}}'"></button>
              </p>
              <h3 class="card-title" style="font-family: 'Poppins', sans-serif; font-weight:600;">{{ list.name }}</h3>
              <div class="card-text">
                  {% if list.tasks %}
                  <br>
                  <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="Complete: {{pies[list.id].data[0]}}, Incomplete: {{pies[list.id].data[1]}}, Passed: {{pies[list.id].data[2]}}" align=center>
                      <img src='data:image/png;base64,{{ pies[list.id].pie }}'/>
                  </p>
                  <img src='data:image/png;base64,{{ bars[list.id] }}'/>
                  <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="GANTT Chart of tasks. Note that tasks with deadline earlier than task creation date are omitted." align=center>
                      <img src='data:image/png;base64,{{ gantts[list.id] }}'/>
                  </p>
                  {% else %}
                  <div class="card-text">
                      You have no tasks.
                  </div>
                  {% endif %}
              </div>
            </div>
            <p class="card-text" data-toggle="tooltip" data-placement="bottom" title="Legend" align=center><small class="text-muted">
                Incomplete <svg width="30" height="10">
                  <rect width="30" height="10" style="fill:#F7D59C;" />
                </svg> |
                Complete <svg width="30" height="10">
                  <rect width="30" height="10" style="fill:#54BAB9;" />
                </svg> <br>
                Deadline passed <svg width="30" height="10">
                  <rect width="30" height="10" style="fill:#BB6464;" />
                </svg>
            </small></p>
        </div>
    {% endfor %}
    </div>

{% else %}
    <p>You have no lists.</p>
{% endif %}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js">
  $(function() {
    $( document ).tooltip({
      items: "a",
      content: function() {
        var element = $( this );
        if (element.attr('id') === 'summary') {
          return "<img class='map' src='/static/wallpapers/2.png' />";
        }
      }
    });
  });
</script>

{% endblock %}
