{% extends 'layouts/form.html' %}
{% block title %}{{ 'Update' if list else 'Create' }} List{% endblock %}
{% block color %}{{ color_code }}{% endblock %}
{% block pno %}{{ photo_no }}{% endblock %}
{% block content %}
{{ form.csrf_token }}

<div class="d-flex align-items-center mb-3 pb-1">
  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
  <span class="h1 fw-bold mb-0"><img src="/static/ico/logo.png" width="55" height="55" class="d-inline-block align-top" alt=""> Simple Kanban</span>
</div>
{% if list %}
<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Editing <b>{{ list.name }}</b></h5>
{% else %}
<h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Add new list for <b>{{ current_user.username }}</b></h5>
{% endif %}

<div class="form-group row">
    <div class="col-sm-4">Name:</div>
    <div class="form-outline col-sm-8 mb-4">
      {{ form.name(class_ = 'form-control first-input', placeholder = form.name.label.text, required = true, autofocus = true) }}
    </div>
</div>

<div class="form-group row">
    <div class="col-sm-4">Description:</div>
    <div class="form-outline col-sm-8 mb-4">
      {{ form.description(class_ = 'form-control last-input', placeholder = form.description.label.text) }}
    </div>
</div>

<div class="pt-1 mb-4">
  <button type="submit" value="Submit" class="btn btn-dark btn-lg btn-block">Submit</button>
</div>

<p class="mb-5 pb-lg-2" style="color: #393f81;">Back to <a href="/"
    style="color: #393f81;">home</a></p>

{% endblock %}
