{% extends 'layouts/form.html' %}
{% block title %}Add list for {{ current_user.username }}{% endblock %}
{% block content %}
{% if form.errors %}
    {{ form.errors }}
{% endif %}
  <form method="post" class="form">
    {{ form.csrf_token }}
    <h3 class="form-heading">Add new task: <a href="{{ url_for('home') }}" title="Back to homepage"><i class="fa fa-home pull-right"></i></a></h3>

    {{ form.list(class_ = 'form-control') }}
    {{ form.title(class_ = 'form-control first-input', placeholder = form.title.label.text, required = true) }}
    {{ form.content(class_ = 'form-control last-input', placeholder = form.content.label.text) }}
    {{ form.deadline(class_ = 'form-control', placeholder = form.deadline.label.text) }}
    Mark as complete: {{ form.status(class_ = 'form-control', placeholder = form.status.label.text) }}

    <input type="submit" value="Submit" class="btn btn-primary btn-lg btn-block">
  </form>
{% endblock %}
